:root {
  --primary-color: #dbcf5c;
  --parrafos-color:rgb(252, 249, 234);
}

html {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.parallax {
  background-image: url('/starter/img/olive-oil_1920.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 20vw;
}
.parrafos{
  font-size: 19px;
  padding: 27px;
  background-color: var(--parrafos-color);
}

.parallax:hover{
  filter: grayscale(100%);
}


